@import './base.css';

:root {
  --primary-color: #424cb8;
  --secondary-color: #516881;
  --background-color: #ffffff;
  --card-background: #ffffff;
  --header-background: #fdfdfd;
  --text-color: #1f1f1f;
  --text-light: #383838;
  --border-color: #f0f0f0;
  --light-gray: #f8f9fa;
  --medium-gray: #dee2e6;
  --dark-gray: #6c757d;
  --danger-color: #e57373;

  --box-shadow: rgba(15, 15, 15, 0.05) 0px 1px 2px, rgba(15, 15, 15, 0.1) 0px 0px 1px;
  --box-shadow-hover: rgba(15, 15, 15, 0.1) 0px 4px 6px, rgba(15, 15, 15, 0.15) 0px 1px 3px;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

button {
  cursor: pointer;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
